.neos div.row {
	padding-bottom: 20px;
}

.neos h1,
.neos h2,
.neos h3,
.neos h4 {
	font-weight: bold;
}

.neos h1 {
	font-size: 18px;
	padding-bottom: 20px;
}

.neos h2 {
	text-decoration: underline;
}

.neos .default-list {
	margin: 0 -20px;
	padding-bottom: 20px;
}

.neos .default-list li {
	display: inline-block;
	margin: 0 20px 20px;
	width: 250px;
}

.neos .font-list li select {
	width: 250px;
}

.neos .textfield-list .input-group {
	width: 100%;
}

.neos .font-fallback-value {
	padding-bottom: 15px;
	padding-top: 15px;
	width: 100%;
}

.neos .cm-neos-thememodule-headline {
	font-weight: bold;
}

.neos .jq-container .checkbox {
	padding-bottom: 2px;
}

.neos .CodeMirror.cm-s-default {
	margin-top: 5px;
}